# torch
# torchvision
# transformers
# opencv-python-headless
# numpy
# Pillow
# scikit-learn
# tqdm
# flask
# flask-cors
# safetensors
# gunicorn
# pymongo

flask
flask-cors
gunicorn
onnxruntime
numpy
Pillow
pymongo
scikit-learn