# torch
# torchvision
# transformers
# opencv-python-headless
# numpy
# Pillow
# scikit-learn
# tqdm
# flask
# flask-cors
# safetensors
# gunicorn
# pymongo

flask
flask-cors
gunicorn
# onnxruntime
# numpy
Pillow
pymongo
# scikit-learn
# opencv-python-headless
python-dotenv
certifi

onnxruntime==1.20.1
numpy==1.26.4
scikit-learn==1.5.2
opencv-python-headless==4.10.0.84